<ion-menu contentId="main-content" class="side-menu">
  <ion-header>
    <ion-toolbar >
      <ion-title class="menu-title">
        <img class="img-header-logo" src="../../../assets/images/top3talent-logo1.png" alt="Top 3 Talent">
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="menu-content">
    <ion-list lines="none" class="menu-list">
      <ion-item routerLink="/contractor/profile" class="menu-item" lines="none">
        <ion-icon slot="start" name="person-outline"></ion-icon>
        <ion-label>My Profile</ion-label>
      </ion-item>
      <ion-item (click)="logout()" class="menu-item menu-logout" lines="none">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header class="main-header">
    <ion-toolbar >
      <ion-buttons slot="start" class="menu-button-wrapper">
        <ion-menu-button class="custom-menu-button"></ion-menu-button>
      </ion-buttons>

      <div class="header-content">
        <div class="logo-section">
          <img class="img-logo" src="../../../assets/images/top3talent-logo1.png" alt="Top 3 Talent">
        </div>

        <div class="profile-section">
          <div id="profile-trigger" class="profile-badge" [attr.aria-label]="'User profile: ' + user?.firstName + ' ' + user?.lastName">
            <ion-icon class="profile-icon" name="person-circle"></ion-icon>
            <div class="profile-info">
              <p class="profile-name">{{user?.firstName}} {{user?.lastName}}</p>
              <p class="profile-role">Contractor</p>
            </div>
          </div>

          <ion-popover #popover trigger="profile-trigger" side="bottom" alignment="end" class="profile-popover">
            <ng-template>
              <ion-list class="profile-menu" lines="none">
                <ion-item-divider class="menu-divider">
                  <ion-label>Account</ion-label>
                </ion-item-divider>
                <ion-item routerLink="/contractor/profile" class="menu-item-popover" lines="none">
                  <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
                  <ion-label>My Profile</ion-label>
                </ion-item>
                <ion-item-divider class="menu-divider"></ion-item-divider>
                <ion-item (click)="logout()" class="menu-item-popover logout-item" lines="none">
                  <ion-icon slot="start" name="log-out-outline" color="danger"></ion-icon>
                  <ion-label color="danger">Logout</ion-label>
                </ion-item>
              </ion-list>
            </ng-template>
          </ion-popover>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
</div>