<form [formGroup]="provinceForm">
  <div>
    <ion-grid>
      <ion-row>
        <ion-card class="p-2">
          <ion-card-content>
            <div>
              <b>
                <h2>Province Form</h2>
              </b>
            </div>
            <div class="row d-flex-center mt-3">
              <ion-input formControlName="provinceName" type="text" class="p-2" label="Province Name*"
                label-placement="floating" fill="outline"></ion-input>
            </div>
            <div
              *ngIf="provinceForm.controls['provinceName']?.invalid && (provinceForm.controls['provinceName']?.dirty || provinceForm.controls['provinceName'].touched)">
              <div class="error-class" *ngIf="provinceForm.controls['provinceName']?.errors?.required">
                Province Name is required.
              </div>
            </div>
            <div class="ml-3 mt-3">
              <ion-checkbox formControlName="isActive" justify="end">Active</ion-checkbox>
            </div>
          </ion-card-content>
          <div class="d-flex-end p-4">
            <ion-button (click)="onBack()">Back</ion-button>
            <ion-button (click)="onSave()">Save</ion-button>
          </div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</form>