
.login-btn {
    margin-top: 10px;
}
.card-width {
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    padding: 30px;
}
.card-div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-class{
    padding:0 !important;
}
