<div class="card-div">

  <ion-card class="card-width p-10" [formGroup]="loginForm">
    <ion-card-header class="header-class">
      <img class="img-logo" src="../../../assets/images/top3talent-logo.png">
    </ion-card-header>

    <ion-card-content>
      <ion-item class="my-3">
        <ion-input formControlName="email" labelPlacement="stacked" placeholder="email@domain.com">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="password" [type]="isPasswordHidden ? 'password' : 'text'" labelPlacement="stacked"
          placeholder="*********">
          <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
          <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="isPasswordHidden=!isPasswordHidden">
            <ion-icon *ngIf="isPasswordHidden" slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
            <ion-icon *ngIf="!isPasswordHidden" slot="icon-only" name="eye-off-outline"
                      aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>

      <ion-text color="danger" *ngIf="errorMessage">{{errorMessage}}</ion-text>

      <ion-button class="login-btn my-4" expand="block" (click)="onLogin()">
        <ion-spinner *ngIf="loading"></ion-spinner>
        <span *ngIf="!loading">Login</span>
      </ion-button>

      <div class="auth-links">
        <a [routerLink]="['/auth/forgot-password']" class="forgot-password-link">
          <ion-text color="primary" class="text-center">
            <p>Forgot Password?</p>
          </ion-text>
        </a>
        <a [routerLink]="['/auth/signup']" class="signup-link">
          <ion-text color="primary" class="text-center">
            <h4>New? Create an account</h4>
          </ion-text>
        </a>
      </div>

    </ion-card-content>
  </ion-card>

</div>