<div class="card-div">

  <ion-card class="card-width p-10">
    <ion-card-header>
      <img class="img-logo" src="../../../assets/images/contractbase-logo.png">
    </ion-card-header>

    <ion-card-content>
      <ion-item class="my-3">
        <ion-input labelPlacement="stacked" placeholder="email@domain.com">
          <ion-icon slot="start" name="mail" aria-hidden="true"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" labelPlacement="stacked" placeholder="*********">
          <ion-icon slot="start" name="key" aria-hidden="true"></ion-icon>
          <ion-button fill="clear" slot="end" aria-label="Show/hide">
            <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>

      <ion-button class="login-btn my-4" expand="block" (click)="onLogin()">Login</ion-button>
      <ion-text color="primary" class="text-center">
        <h4>Forgot Password?</h4>
      </ion-text>

    </ion-card-content>
  </ion-card>

</div>