<ion-grid>
  <ion-row>
    <ion-col class="sm-hidden" [size]="3">
      <ion-card>
        <ion-card-header style="background-color: lightgray;">
          <p></p>
        </ion-card-header>
        <ion-card-content>
          <div style="margin-top: -3rem;">
            <ion-icon class="avatar" name="person-circle"></ion-icon>
            <h1>{{user?.firstName}} {{user?.lastName}}</h1>
          </div>
          <hr />
          <div class="info">
            <ion-icon name="mail"></ion-icon>
            <span>{{user?.email}}</span>
          </div>
          <div class="info">
            <ion-icon name="call"></ion-icon>
            <span>{{user?.phone}}</span>
          </div>
          <div class="info">
            <ion-icon name="location"></ion-icon>
            <span>{{user?.city?.cityName}}, {{user?.province?.provinceName}}</span>
          </div>
          <hr>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <div class="form-container">
        <div style="padding: 1rem">
          <ion-progress-bar [value]="(((currentIndex) * 100) / (pages.length - 1)) / 100"></ion-progress-bar>
        </div>
        <div class="space-between chip-container">
          <ion-chip [class.current]="i == currentIndex" [ngClass]="i <= currentIndex ? 'selected' : 'default'"
            *ngFor="let page of pages; let i = index;" [outline]="false">
            {{i + 1}}
          </ion-chip>
        </div>
        <router-outlet></router-outlet>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>