.img-person {
    height: 90px;
    width: 90px;
}
.icon-font {
    font-size: 20px !important;
}
.grid-border {
    border: 1px solid black;
}
.d-flex-column {
    display: flex;
    flex-direction: column;
}
