<div class="d-flex-center">
  <ion-card>
    <ion-card-content>
      <div class="d-flex">
        <div>
          <img class="img-person" src="../../../../assets/images/blank-profile.png">
        </div>
        <div class="p-3">
          <div>
            <h3>{{contractorDetails.name}}</h3>
            <h3>{{contractorDetails.position}} || {{contractorDetails.yearsOfExperience}} years</h3>
            <div class="d-flex">
              <div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="location"></ion-icon>
                  <h3 class="p-1">{{contractorDetails.location}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="call"></ion-icon>
                  <h3 class="p-1">{{contractorDetails.phone}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="mail"></ion-icon>
                  <h3 class="p-1">{{contractorDetails.email}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 mt-3 icon-font" name="pin"></ion-icon>
                  <div class="d-flex-column">
                    <h3 class="p-1">Business Number -{{contractorDetails.businessNumber}}</h3>
                    <h3 class="p-1">Business Address -{{contractorDetails.businessAddress}}</h3>
                  </div>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="logo-linkedin"></ion-icon>
                  <h3 class="p-1">{{contractorDetails.linkedIn}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="people-circle-outline"></ion-icon>
                  <h3 class="p-1">{{contractorDetails.industry}}</h3>
                </div>
                <div>
                  <ion-grid class="grid-border">
                    <ion-row>
                      <ion-col class="grid-border">Skills</ion-col>
                      <ion-col class="grid-border">Experience</ion-col>
                    </ion-row>
                    <ion-row *ngFor="let item of contractorDetails.skills">
                      <ion-col class="grid-border">{{item.technology}}</ion-col>
                      <ion-col class="grid-border">{{item.experience}} years</ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </div>
              <div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="people"></ion-icon>
                  <h3 class="p-1">Team Size - {{contractorDetails.teamSize}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="globe"></ion-icon>
                  <h3 class="p-1">Project Budget - {{contractorDetails.projectBudget}} MIO</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="contract"></ion-icon>
                  <h3 class="p-1">Contract Length - {{contractorDetails.contractLength}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="pricetag"></ion-icon>
                  <h3 class="p-1">Hourly Rate - {{contractorDetails.hourlyRate}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="calendar"></ion-icon>
                  <h3 class="p-1">Availability - {{contractorDetails.availability}}</h3>
                </div>
                <div class="d-flex mt-1">
                  <ion-icon class="p-1 icon-font" name="car"></ion-icon>

                  <h3 class="p-1">Work Location - </h3>
                  <h3 class="p-1" *ngFor="let item of contractorDetails.workLocation">
                    {{item.type=='Hybrid' ?
                    item.type + '-' + item.days + ' days' : item.type}},</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex-center">
        <ion-button color="primary" (click)="onBackClicked()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
          Back</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</div>