<div class="d-flex-center">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size="0"></ion-col>
      <ion-col size-lg="6" size="12">
        <ion-card>
          <ion-card-content class="card-min-height">
            <div class="d-flex-center">
              <img src="../../../assets/images/contractbase-logo.png">
            </div>
            <div>
              <form [formGroup]="industryForm">
                <ion-searchbar formControlName="searchIndustry" search-icon="search-circle" show-clear-button="always"
                  placeholder="What are your top 3 industries?" type="text" debounce="100"
                  (ionInput)="getItems($event)"></ion-searchbar>
                <ion-list *ngIf="isItemAvailable">
                  <ion-item class="cursor-pointer" *ngFor="let item of items" (click)="onItemSelected(item)">
                    {{item}}</ion-item>
                </ion-list>
                <ion-chip *ngFor="let item of selectedItems">
                  <ion-label>{{item}}</ion-label>
                  <ion-icon name="close-circle" (click)="onItemSelectedRemoved(item)"></ion-icon>
                </ion-chip>
              </form>
            </div>
          </ion-card-content>
          <div class="d-flex-end p-4">
            <ion-nav-link router-direction="forward" [component]="previousComponentName">
              <ion-button>Previous</ion-button>
            </ion-nav-link>
            <ion-nav-link router-direction="forward" [component]="nextComponentName">
              <ion-button>Next</ion-button>
            </ion-nav-link>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>