<form [formGroup]="contractorForm">
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col>
          <div class="d-flex-center page-header mt-2">
            <h1 *ngIf="isEdit">EDIT CONTRACTOR</h1>
            <h1 *ngIf="!isEdit">ADD NEW CONTRACTOR</h1>
          </div>
          <ion-row>
            <ion-col>
              <div class="d-flex-center" *ngIf="!isEdit">
                <input [formControl]="myControl" type="text" class="search-user" placeholder="Search User..." matInput
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                  @for (option of filteredContractors | async; track option) {
                  <mat-option [value]="option">{{option.firstName}} {{option.lastName}}</mat-option>
                  }
                </mat-autocomplete>
              </div>
              <div class="ml-2" *ngIf="!isEdit && myControl?.invalid && (myControl?.dirty || myControl.touched)">
                <div class="error-class" *ngIf="myControl?.errors?.required">
                  User selection is required.
                </div>
              </div>
              <div *ngIf="isEdit">
                <ion-input readonly type="text" [value]="contractorDetails?.userId?.firstName+' '+contractorDetails?.userId?.lastName"
                label-placement="floating" fill="outline"></ion-input>
              </div>
            </ion-col>
            <ion-col>
              <div class=" d-flex-center w-100">
                <ion-input formControlName="linkedInProfile" [value]="contractorForm.get('linkedInProfile')?.value" type="text" label="LinkedIn Profile*"
                  label-placement="floating" fill="outline"></ion-input>
              </div>
              <div class="ml-2"
                *ngIf="contractorForm.controls['linkedInProfile']?.invalid && (contractorForm.controls['linkedInProfile']?.dirty || contractorForm.controls['linkedInProfile'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['linkedInProfile']?.errors?.required">
                  LinkedIn Profile is required.
                </div>
              </div>
            </ion-col>
          </ion-row>
          <div class="d-flex-center w-100">
            <ion-input formControlName="businessNumber" type="number" class="p-2" label="Business Number*"
              label-placement="floating" fill="outline"></ion-input>
          </div>
          <div class="ml-2"
            *ngIf="contractorForm.controls['businessNumber']?.invalid && (contractorForm.controls['businessNumber']?.dirty || contractorForm.controls['businessNumber'].touched)">
            <div class="error-class" *ngIf="contractorForm.controls['businessNumber']?.errors?.required">
              Business Number is required.
            </div>
          </div>
          <div class="d-flex-center w-100">
            <ion-input formControlName="businessAddressLine1" type="text" class="p-2" label="Business Address Line 1*"
              label-placement="floating" fill="outline"></ion-input>
          </div>
          <div class="ml-2"
            *ngIf="contractorForm.controls['businessAddressLine1']?.invalid && (contractorForm.controls['businessAddressLine1']?.dirty || contractorForm.controls['businessAddressLine1'].touched)">
            <div class="error-class" *ngIf="contractorForm.controls['businessAddressLine1']?.errors?.required">
              Business Address is required.
            </div>
          </div>
          <div class="d-flex-center w-100">
            <ion-input formControlName="businessAddressLine2" type="text" class="p-2" label="Business Address Line 2"
              label-placement="floating" fill="outline"></ion-input>
          </div>
          <ion-row>
            <ion-col>
              <div class="d-flex-column">
                <ion-select (ionChange)="handleChangeForProvince($event)" fill="outline"
                  formControlName="businessProvinceId" interface="popover" placeholder="Province">
                  <ion-select-option *ngFor="let item of allProvinces"
                    [value]="item._id">{{item.provinceName}}</ion-select-option>
                </ion-select>

                <div class="ml-2 mt-2"
                  *ngIf="contractorForm.controls['businessProvinceId']?.invalid && (contractorForm.controls['businessProvinceId']?.dirty || contractorForm.controls['businessProvinceId'].touched)">
                  <div class="error-class" *ngIf="contractorForm.controls['businessProvinceId']?.errors?.required">
                    Province is required.
                  </div>
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div class="d-flex-column">
                <ion-select class="w-100" fill="outline" formControlName="businessCityId" interface="popover"
                  placeholder="City">
                  <ion-select-option *ngFor="let item of allCities"
                    [value]="item._id">{{item.cityName}}</ion-select-option>
                </ion-select>
                <div class="ml-2 mt-2"
                  *ngIf="contractorForm.controls['businessCityId']?.invalid && (contractorForm.controls['businessCityId']?.dirty || contractorForm.controls['businessCityId'].touched)">
                  <div class="error-class" *ngIf="contractorForm.controls['businessCityId']?.errors?.required">
                    City is required.
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div class="d-flex-center w-100">
                <ion-input formControlName="businessZipCode" type="text" label="Business Zipcode*"
                  label-placement="floating" fill="outline"></ion-input>
              </div>
              <div class="ml-2"
                *ngIf="contractorForm.controls['businessZipCode']?.invalid && (contractorForm.controls['businessZipCode']?.dirty || contractorForm.controls['businessZipCode'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['businessZipCode']?.errors?.required">
                  Business Zipcode is required.
                </div>
              </div>
              <div class="ml-2"
                *ngIf="contractorForm.controls['businessZipCode']?.invalid && (contractorForm.controls['businessZipCode']?.dirty || contractorForm.controls['businessZipCode'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['businessZipCode']?.errors?.pattern">
                  Business Zipcode is in incorrect form.
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div class="d-flex-column">
                <ion-select fill="outline" (ionChange)="handleChangeForPosition($event)" formControlName="position"
                  interface="popover" placeholder="Position">
                  <ion-select-option *ngFor="let item of allPositions"
                    [value]="item._id">{{item.positionName}}</ion-select-option>
                </ion-select>

                <div class="ml-2 mt-2"
                  *ngIf="contractorForm.controls['position']?.invalid && (contractorForm.controls['position']?.dirty || contractorForm.controls['position'].touched)">
                  <div class="error-class" *ngIf="contractorForm.controls['position']?.errors?.required">
                    Position is required.
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select formControlName="location" (ionChange)="handleChange($event)" interface="popover"
                fill="outline" placeholder="Select all locations those apply" [multiple]="true"
                [compareWith]="compareLocationObjects">
                <ion-select-option *ngFor="let item of allLocations" [value]="item">{{item.type}}</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col *ngIf="hybridSelected">
              <ion-input [formControl]="hybridDays" type="number"
                label="Number of days you would like to be at the office*" label-placement="floating"
                fill="outline"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-searchbar class="w-100 searchbar-style" search-icon="search-circle"
                show-clear-button="always" placeholder="Please select contractor's top 3 industries.." type="text"
                debounce="100" (ionInput)="getIndustries($event)"></ion-searchbar>
              <ion-list *ngIf="isIndustryAvailable">
                <ion-item class="cursor-pointer" *ngFor="let item of filteredIndustries"
                  (click)="onIndustrySelected(item)">
                  {{item?.industryName}}</ion-item>
              </ion-list>
              <ion-chip *ngFor="let item of selectedIndustries">
                <ion-label>{{item.industryName}}</ion-label>
                <ion-icon name="close-circle" (click)="onIndustrySelectedRemoved(item)"></ion-icon>
              </ion-chip>
              <div *ngIf="industrySelectionErrorMessage" class="ml-2 mt-2 error-class">
                {{industrySelectionErrorMessage}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-searchbar class="w-100 searchbar-style" search-icon="search-circle"
                show-clear-button="always" placeholder="Please select contractor's top 3 technologies.." type="text"
                debounce="100" (ionInput)="getTechnologies($event)"></ion-searchbar>
              <ion-list *ngIf="isTechnologyAvailable">
                <ion-item class="cursor-pointer" *ngFor="let item of filteredTechnologies"
                  (click)="onTechnologySelected(item)">
                  {{item?.technologyName}}</ion-item>
              </ion-list>
              <ion-chip *ngFor="let item of selectedTechnologies">
                <ion-label>{{item.technologyName}}</ion-label>
                <ion-icon name="close-circle" (click)="onTechnologySelectedRemoved(item)"></ion-icon>
              </ion-chip>
            </ion-col>
            <ion-col>
              <ion-searchbar class="w-100 searchbar-style" search-icon="search-circle"
                show-clear-button="always" placeholder="Please select contractor's top 3 certifications.." type="text"
                debounce="100" (ionInput)="getCertifications($event)"></ion-searchbar>
              <ion-list *ngIf="isCertificationAvailable">
                <ion-item class="cursor-pointer" *ngFor="let item of filteredCertifications"
                  (click)="onCertificationSelected(item)">
                  {{item?.certificationName}}</ion-item>
              </ion-list>
              <ion-chip *ngFor="let item of selectedCertifications">
                <ion-label>{{item.certificationName}}</ion-label>
                <ion-icon name="close-circle" (click)="onCertificationSelectedRemoved(item)"></ion-icon>
              </ion-chip>
              <div *ngIf="certificationSelectionErrorMessage" class="ml-2 mt-2 error-class">
                {{certificationSelectionErrorMessage}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-input formControlName="yearsOfExperience" type="number" label="Years of Experience*"
                label-placement="floating" fill="outline"></ion-input>
              <div class="ml-2 mt-2"
                *ngIf="contractorForm.controls['yearsOfExperience']?.invalid && (contractorForm.controls['yearsOfExperience']?.dirty || contractorForm.controls['yearsOfExperience'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['yearsOfExperience']?.errors?.required">
                  Experience is required.
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-input formControlName="hourlyRate" type="number" label="Hourly Rate (CAD)*"
                label-placement="floating" fill="outline"></ion-input>
              <div class="ml-2 mt-2"
                *ngIf="contractorForm.controls['hourlyRate']?.invalid && (contractorForm.controls['hourlyRate']?.dirty || contractorForm.controls['hourlyRate'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['hourlyRate']?.errors?.required">
                  Hourly Rate is required.
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select formControlName="projectBudget" interface="popover" fill="outline"
                placeholder="Please select Project Budget" [multiple]="true">
                <ion-select-option *ngFor="let item of projectBudget" [value]="item">{{item}}</ion-select-option>
              </ion-select>
              <div class="ml-2 mt-2"
                *ngIf="contractorForm.controls['projectBudget']?.invalid && (contractorForm.controls['projectBudget']?.dirty || contractorForm.controls['projectBudget'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['projectBudget']?.errors?.required">
                  Selection of Project Budget is required.
                </div>
              </div>
            </ion-col>
            <ion-col>
              <ion-select formControlName="teamSize" interface="popover" fill="outline"
                placeholder="Please select Team Size" [multiple]="true">
                <ion-select-option *ngFor="let item of teamSize" [value]="item">{{item}}</ion-select-option>
              </ion-select>
              <div class="ml-2 mt-2"
                *ngIf="contractorForm.controls['teamSize']?.invalid && (contractorForm.controls['teamSize']?.dirty || contractorForm.controls['teamSize'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['teamSize']?.errors?.required">
                  Selection of Team Size is required.
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-select formControlName="contractLength" interface="popover" fill="outline"
                placeholder="Please select Contract Length" [multiple]="true">
                <ion-select-option *ngFor="let item of contractLength" [value]="item">{{item}}</ion-select-option>
              </ion-select>
              <div class="ml-2 mt-2"
                *ngIf="contractorForm.controls['contractLength']?.invalid && (contractorForm.controls['contractLength']?.dirty || contractorForm.controls['contractLength'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['contractLength']?.errors?.required">
                  Selection of Contract Length is required.
                </div>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <mat-form-field class="w-100">
                  <mat-label>Choose a date</mat-label>
                  <input formControlName="availableDate" [min]="todayDate" fill="outline" matInput
                    [matDatepicker]="picker">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker disabled="false"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="ml-2 mt-2"
                *ngIf="contractorForm.controls['availableDate']?.invalid && (contractorForm.controls['availableDate']?.dirty || contractorForm.controls['availableDate'].touched)">
                <div class="error-class" *ngIf="contractorForm.controls['availableDate']?.errors?.required">
                  Selection of Available Date is required.
                </div>
              </div>
            </ion-col>
          </ion-row>
          <div class="ml-3 mt-3">
            <ion-checkbox formControlName="isActive" justify="end">Active</ion-checkbox>
          </div>
          <div class="d-flex-end p-4">
            <ion-button (click)="onBack()">Back</ion-button>
            <ion-button (click)="onSave()">Save</ion-button>
          </div>
        </ion-col>
        <ion-col size="1"></ion-col>
      </ion-row>
    </ion-grid>
  </div>
</form>