<div>
  <ion-grid>
    <ion-row>

      <ion-col>
        <div class="d-flex-space-between page-header">
          <h1>POSITION</h1>
          <ion-button (click)="onAddNewPosition()" color="primary">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            Add New</ion-button>
        </div>
        <div class="mt-3 input-icons">
          <ion-searchbar show-clear-button="never" (keyup)="applyFilter($event)" size="small"></ion-searchbar>
        </div>
        <ion-card>
          <ion-card-content class="p-5">
            <mat-tab-group (selectedTabChange)="onTabChange($event)">
              <mat-tab active label="Active">
              </mat-tab>
              <mat-tab label="InActive">
              </mat-tab>
            </mat-tab-group>
            <div class="example-container ">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="positionName">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.positionName}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div class="text-right" style="width: 100%;">
                      <button *ngIf="selectedTab==0" (click)="onDeleteCalled(element)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button (click)="onEditCalled(element)" mat-icon-button class="ml-1">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

              <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                showFirstLastButtons></mat-paginator>
            </div>


          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>