<div style="background-color: #fafafa;">
  <ion-grid>
    <ion-row>
      <ion-col class="p-5">
        <!-- <ion-card>
          <ion-card-content class="p-5"> -->
        <div class="d-flex-space-between page-header">
          <h1>TECHNOLOGY</h1>
          <ion-button size="small" (click)="onAddNewTechnology()" size="default" color="primary">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            Add New</ion-button>
        </div>
        <div class="mt-3 input-icons">
          <ion-searchbar [(ngModel)]="searchValue" show-clear-button="never" size="small"></ion-searchbar>
        </div>
        <ion-card>
          <ion-card-content>
            <mat-tab-group (selectedTabChange)="tabChanged($event)">
              <mat-tab label="Active">
                <app-technology-list-grid (onDelete)="onDelete($event)" (onEdit)="onEdit($event)" [isActive]="true"
                  [data]="activeTechnologies | filterData:searchValue"></app-technology-list-grid>
              </mat-tab>
              <mat-tab label="InActive">
                <app-technology-list-grid (onDelete)="onDelete($event)" (onEdit)="onEdit($event)" [isActive]="false"
                  [data]="inActiveTechnologies | filterData:searchValue"></app-technology-list-grid>
              </mat-tab>
            </mat-tab-group>
          </ion-card-content>
        </ion-card>
        <!-- </ion-card-content>
        </ion-card> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</div>