<form [formGroup]="technologyForm">
  <div>
    <ion-grid>
      <ion-row>
        <ion-card class="p-2">
          <ion-card-content>
            <div>
              <b>
                <h2>Technology Form</h2>
              </b>
            </div>
            <div class="row d-flex-center mt-3 w-100">
              <ion-input formControlName="technologyName" type="text" class="p-2" label="Technology Name*"
                label-placement="floating" fill="outline"></ion-input>
            </div>
            <div
              *ngIf="technologyForm.controls['technologyName']?.invalid && (technologyForm.controls['technologyName']?.dirty || technologyForm.controls['technologyName'].touched)">
              <div class="error-class" *ngIf="technologyForm.controls['technologyName']?.errors?.required">
                Technology Name is required.
              </div>
            </div>
            <div class="row w-100 mt-3">
              <ion-select fill="outline" formControlName="positionId" interface="popover" placeholder="Positions"
                class="d-flex-center">
                <ion-select-option *ngFor="let item of allPositions"
                  [value]="item._id">{{item.positionName}}</ion-select-option>
              </ion-select>
            </div>
            <div
              *ngIf="technologyForm.controls['positionId']?.invalid && (technologyForm.controls['positionId']?.dirty || technologyForm.controls['positionId'].touched)">
              <div class="error-class" *ngIf="technologyForm.controls['positionId']?.errors?.required">
                Please select any position.
              </div>
            </div>
            <div class="ml-3 mt-3">
              <ion-checkbox formControlName="isActive" justify="end">Active</ion-checkbox>
            </div>
          </ion-card-content>
          <div class="d-flex-end p-4">
            <ion-button (click)="onBack()">Back</ion-button>
            <ion-button (click)="onSave()">Save</ion-button>
          </div>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
</form>