<div class="d-flex-end">
  <ion-searchbar [formControl]="searchbarControl" class="searchbar-width"></ion-searchbar>
</div>
<div class="d-flex-end">
  <ion-button (click)="onAddNewContractor()" color="primary">
    <ion-icon slot="start" name="add-outline"></ion-icon>
    Add New</ion-button>
</div>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-md="4" size-lg="3" *ngFor="let item of filteredContractors">
      <ion-card class="cursor-pointer" (click)="onViewMoreClicked(item._id)">
        <ion-card-header>
          <ion-card-title>{{item?.userId.name}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="d-flex-space-between">
            <h3><b>{{item?.userId?.firstName+' '+item?.userId?.lastName}}</b></h3>
            <div>
              <ion-button (click)="onEdit(item)" shape="round" size="small">
                <ion-icon slot="icon-only" name="pencil"></ion-icon>
              </ion-button>
              <ion-button shape="round" size="small">
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-button>
            </div>
          </div>
          <div class="d-flex">
            <ion-icon class="p-1 mt-1 icon-font" name="mail"></ion-icon>
            <h3 class="p-1">{{item?.userId.email}}</h3>
          </div>
          <div class="d-flex">
            <ion-icon class="p-1 mt-1 icon-font" name="location"></ion-icon>
            <h3 class="p-1" *ngFor="let location of item.location">{{location.type +' '}}</h3>
          </div>
          <div class="d-flex">
            <ion-icon class="p-1 mt-1 icon-font" name="school"></ion-icon>
            <h3 class="p-1">{{item?.position.positionName}}</h3>
          </div>
          <div class="d-flex">
            <ion-icon class="p-1 mt-1 icon-font" name="person"></ion-icon>
            <h3 class="p-1">Experience - {{item.yearsOfExperience}} years</h3>
          </div>
          <div class="d-flex">
            <ion-icon class="p-1 mt-1 icon-font" name="call"></ion-icon>
            <h3 class="p-1">{{item?.userId.phone}}</h3>
          </div>
        </ion-card-content>
        <div class="d-flex-center">
          <ion-button color="primary" (click)="onViewMoreClicked(item._id)">
            <ion-icon slot="start" name="arrow-forward"></ion-icon>
            View More</ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>