<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card class="form-card">
        <ion-card-header class="card-header">
          <h2>Business Information</h2>
          <p>Tell us about your business</p>
        </ion-card-header>
        <ion-card-content [formGroup]="form">
          <div class="form-section">
            <ion-row>
              <ion-col size="12">
                <ion-input class="form-input" label="LinkedIn/Portfolio*" formControlName="linkedInProfile" 
                  label-placement="floating" fill="outline" placeholder="LinkedIn/Portfolio*"></ion-input>
                <div class="error-message" *ngIf="linkedInProfile?.touched && linkedInProfile?.hasError('required')">
                  LinkedIn/Portfolio is required
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input class="form-input" label="Business Number*" formControlName="businessNumber"
                  label-placement="floating" fill="outline" placeholder="Business Number*"></ion-input>
                <div class="error-message" *ngIf="businessNumber?.touched && businessNumber?.hasError('required')">
                  Business Number is required
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input class="form-input" label="Business Address Line 1*" formControlName="businessAddressLine1"
                  label-placement="floating" fill="outline" placeholder="Business Address Line 1*"></ion-input>
                <div class="error-message" *ngIf="businessAddressLine1?.touched && businessAddressLine1?.hasError('required')">
                  Business Address Line 1 is required
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input class="form-input" label="Business Address Line 2" formControlName="businessAddressLine2"
                  label-placement="floating" fill="outline" placeholder="Business Address Line 2"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-select class="form-input" [fill]="'outline'" aria-label="Province" formControlName="businessProvinceId"
                  interface="popover" placeholder="Select Province">
                  <ion-select-option *ngFor="let item of allProvinces"
                    [value]="item._id">{{item.provinceName}}</ion-select-option>
                </ion-select>
                <div class="error-message" *ngIf="businessProvinceId?.touched && businessProvinceId?.hasError('required')">
                  Province is required
                </div>
              </ion-col>
              <ion-col size="6">
                <ion-select class="form-input" [fill]="'outline'" aria-label="City" formControlName="businessCityId" 
                  interface="popover" placeholder="Select City">
                  <ion-select-option *ngFor="let item of getFilteredCities()"
                    [value]="item._id">{{item.cityName}}</ion-select-option>
                </ion-select>
                <div class="error-message" *ngIf="businessCityId?.touched && businessCityId?.hasError('required')">
                  City is required
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <ion-input class="form-input" formControlName="businessZipCode" label="Business Zip Code*"
                  label-placement="floating" fill="outline" placeholder="Business Zip Code*"></ion-input>
                <div class="error-message" *ngIf="businessZipCode?.touched && businessZipCode?.hasError('required')">
                  Business Zip Code is required
                </div>
              </ion-col>
            </ion-row>
          </div>
        </ion-card-content>
        <div class="button-section">
          <ion-button fill="outline" (click)="previous()">
            <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
            Previous
          </ion-button>
          <ion-button (click)="next()">
            Save & Next
            <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>