.example-container {
    display: flex;
    flex-direction: column;
    // max-height: 500px;
    min-width: 300px;
}
.mobile-label {
    display: none;
}

@media (max-width: 600px) {
    .mobile-label {
        width: 80px;
        display: inline-block;
        font-weight: bold;
    }

    mat-header-row {
        display: none;
    }

    .mat-row {
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
}
::ng-deep {
    .mat-mdc-header-cell {
        font-weight: bold !important;
    }
}

.mat-column-technologyName {
    width: 400px !important;
}

.mat-column-positionName {
    width: 40% !important;
}

.mat-column-action {
    width: 10% !important;
}
