<div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="d-flex-space-between page-header">
          <h1>USERS</h1>
          <ion-button size="small" (click)="onAddNewUser()" size="default" color="primary">
            <ion-icon slot="start" name="add-outline"></ion-icon>
            Add New</ion-button>
        </div>
        <div class="mt-3 input-icons">
          <ion-searchbar (keyup)="applyFilter($event)" show-clear-button="never" size="small"></ion-searchbar>
        </div>
        <ion-card>
          <ion-card-content class="p-5">
            <mat-tab-group (selectedTabChange)="onTabChange($event)">
              <mat-tab active label="Active">
              </mat-tab>
              <mat-tab label="InActive">
              </mat-tab>
            </mat-tab-group>

            <div class="example-container ">
              <mat-table #table [dataSource]="dataSource">
                <ng-container matColumnDef="firstName">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell style="width: 700px;" *matCellDef="let element">
                    {{element.firstName +' '+ element.lastName}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                  <mat-header-cell justify="center" *matHeaderCellDef> Email </mat-header-cell>
                  <mat-cell style="width: 1000px;" class="cursor-pointer" [matTooltip]="element['email']"
                    *matCellDef="let element">
                    {{element.email}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                  <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.phone}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="cityId">
                  <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.cityId?.cityName}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="provinceId">
                  <mat-header-cell *matHeaderCellDef> Province </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.provinceId?.provinceName}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="roleId">
                  <mat-header-cell *matHeaderCellDef> Role </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    {{element.roleId?.roleName}}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="action">
                  <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <div class="d-flex-center example-flex-container text-right" style="width: 100%;">
                      <button *ngIf="selectedTab==0" (click)="onDeleteCalled(element)" mat-icon-button>
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button (click)="onEditCalled(element)" mat-icon-button class="ml-1">
                        <mat-icon>edit</mat-icon>
                      </button>
                    </div>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>

              <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
                showFirstLastButtons></mat-paginator>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>