<ion-card>
  <ion-card-content [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-input class="p-2" label="First Name*" formControlName="firstName" label-placement="floating"
            fill="outline" placeholder="First Name*"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input class="p-2" label="Last Name*" formControlName="lastName" label-placement="floating" fill="outline"
            placeholder="Last Name*"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-input class="p-2" label="Email*" formControlName="email" label-placement="floating" fill="outline"
            placeholder="Email*"></ion-input>
        </ion-col>
        <ion-col size="6">
          <ion-input class="p-2" label="Phone Number*" formControlName="phone" label-placement="floating" fill="outline"
            placeholder="Phone Number*"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6" class="dropdown-container">
          <ion-select [fill]="'outline'" aria-label="Fruit" formControlName="provinceId" interface="popover"
            placeholder="Select Province">
            <ion-select-option *ngFor="let item of allProvinces"
              [value]="item._id">{{item.provinceName}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="6" class="dropdown-container">
          <ion-select [fill]="'outline'" aria-label="Fruit" formControlName="cityId" interface="popover"
            placeholder="Select City">
            <ion-select-option *ngFor="let item of getFilteredCities()"
              [value]="item._id">{{item.cityName}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
  <div class="d-flex-end p-4">
    <ion-button (click)="next()">Save & Next</ion-button>
    <!-- <ion-nav-link router-direction="forward" [component]="componentName">
      </ion-nav-link> -->
  </div>
</ion-card>