<ion-grid>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-card-content [formGroup]="form">
          <ion-grid>
            <ion-row>
              <ion-col size="12">
                <div class="d-flex-center mt-2">
                  <ion-select size="" formControlName="position" label="Position " label-placement="floating"
                    fill="outline">
                    <ion-select-option *ngFor="let item of allPositions"
                      [value]="item._id">{{item.positionName}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-searchbar class="w-100 searchbar-style" type="text" debounce="100"
                  placeholder="Select top 3 technologies" (ionInput)="getTechnologies($event)"></ion-searchbar>
                <ion-list *ngIf="isTechnologyAvailable">
                  <ion-item class="cursor-pointer" *ngFor="let item of filteredTechnologies"
                    (click)="onTechnologySelected(item)">
                    {{item?.technologyName}}</ion-item>
                </ion-list>
                <ion-chip *ngFor="let item of selectedTechnologies">
                  <ion-label>{{item.technologyName}}</ion-label>
                  <ion-icon name="close-circle" (click)="onTechnologySelectedRemoved(item)"></ion-icon>
                </ion-chip>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-select formControlName="certifications" (ionChange)="handleChangeForCertifications($event)"
                  interface="popover" fill="outline" placeholder="Please select top 3 Certifications" [multiple]="true">
                  <ion-select-option *ngFor="let item of allCerifications"
                    [value]="item._id">{{item.certificationName}}</ion-select-option>
                </ion-select>
                <div *ngIf="certificationSelectionErrorMessage" class="ml-2 mt-2 error-class">
                  {{certificationSelectionErrorMessage}}
                </div>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col size-lg="2" size="0"></ion-col>
              <ion-col size-lg="8" size="12">
                <div>Location</div>
                <div class="d-flex-column">
                  <ion-button fill="outline">
                    <ion-checkbox labelPlacement="end">Remote</ion-checkbox>
                  </ion-button>
                  <div class="d-flex-center">
                    <ion-button fill="outline">
                      <ion-checkbox labelPlacement="end" (ionChange)="hybridSelected($event)">Hybrid</ion-checkbox>
                    </ion-button>
                    <div class="ml-2">
                      <input type="text" *ngIf="isHybridSelected" class="p-2" label="Number of days in the Office*"
                        label-placement="floating" placeholder="Number of days in the office*">
                    </div>
                  </div>

                  <ion-button fill="outline">
                    <ion-checkbox labelPlacement="end">In-person</ion-checkbox>
                  </ion-button>
                </div>
              </ion-col>
            </ion-row> -->
          </ion-grid>
        </ion-card-content>
        <div class="d-flex-end p-4">
          <ion-button (click)="previous()">Previous</ion-button>
          <ion-button (click)="next()">Save & Next</ion-button>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>